<% if eventable&.has_attachments? || eventable&.has_remote_images? %>
  <span class="event_attachments margin-block-half flex align-center gap-half">
    <% eventable.attachments.each do |attachment| %>
      <% variant = Attachments::VARIANTS[:small] %>
      <% width = attachment.metadata["width"] %>
      <% height = attachment.metadata["height"] %>

      <% if attachment.previewable? %>
        <%= image_tag url_for(attachment.preview(variant)), class: "attachment attachment--image", width: width, height: height %>
      <% elsif attachment.variable? %>
        <%= image_tag url_for(attachment.variant(variant)), class: "attachment attachment--image", width: width, height: height %>
      <% else %>
        <div class="attachment attachment--file attachment--<%= attachment.filename.extension -%>">
          <span class="attachment__icon"><%= attachment.filename.extension&.downcase.presence || "unknown" %></span>
        </div>
      <% end %>
    <% end %>

    <% eventable.remote_images.each do |remote_image| %>
      <%= image_tag remote_image.url, class: "attachment attachment--image", width: remote_image.width, height: remote_image.height, alt: remote_image.alt %>
    <% end %>
  </span>
<% end %>
